.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e6ecf2;
  padding: 1rem 2rem;
  color: black;
}

.logo a {
  color: rgb(7, 7, 7);
  font-size: 1.5rem;
  text-decoration: none;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.username {
  font-weight: bold;
}

.logout-btn {
  background: red;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.logout-btn:hover {
  background: darkred;
}
