* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
* li{
  list-style: none;
}

.dashboard-wrapper {
  display: flex;
  background: #f6f3f7;
  height: 100vh; /* Full height */
  overflow: hidden; /* Prevent overall page scroll */
}


.content {
  flex-grow: 1;
  overflow-x: auto; 
  white-space: nowrap; 
  margin-left: 12px;
  margin-right: 12px;
}